@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");  
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(34, 34, 34);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lightmode {
  background-color: white;
  color: #000000;
  background-position: center;
  background-size: cover;
}
.navbar{
  position: sticky;
  top:0px;
  z-index:1000;
  width:100%;
}
.container {
  background-color: #3a3a3a;
  overflow:auto;
  /*display: flex;
  flex-direction: row;*/
  justify-content: space-between;
  top: 0%;
  position:static;
}
.container a {
  cursor: pointer;
  float: left;
  color: #fafafa;
  text-align: end;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;

}

.search {
  float: right;
  margin-right: 30px;
}

.search input[type="text"] {
  height: 38px;
  font-size: 17px;
  color: rgb(248, 247, 246);
  width: 200px;
  /* margin-top: 9px; */
  margin-bottom: 7px;
  margin-right: 10px;
  padding: 8px 8px;
  align-items: center;
  background: #575555;
  text-align: right;
  margin-top: 9px;
  border:#fafafa;
  border-radius: 2px;
}
.search button{
  height:50%;
  margin-top: 9px;
  margin-bottom: 7px;
}
.image {
  float: right;
}

.header {
  text-align: center;
  /* color: #fafafa; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
#intro {
  text-align: center;
  /* color: #fafafa; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
.explore {
  position: absolute;
  left: 46%;
  padding: 18px;
  cursor: pointer;
  border: 0.5px solid #406a86;
  background-color: transparent;
  text-align: center;
  color: #df9d0f;
  border-radius: 2px;
}
.Head1{
  position: absolute;
  left:18%;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
  Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
/* CSS for body Box */
 .Body{
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: 100px 100px;
  }
 .Body1{
  grid-column-start: 1;
  grid-row:1;
  grid-column-end: 2;
  position: absolute;
  left:18%;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
  Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
 }
 /* .Body1{
 
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
  Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
 } */
 .sec2{
   grid-column:2;
   grid-row: 1;
   position: absolute;
   left:50%;
   text-align: center;
 }
 .hello{
   border-radius: 25px;
 }
.toggle {
  float: right;
  margin-right: 50px;
  margin-top: 6px;
  margin-bottom: 30px;
}

button.toggleButton {
  cursor: pointer;
  position: absolute;
  margin-top: 6px;
  border-style: hidden;
  border-radius: 48px;
  height:30px;
  background-color: #3a3a3a;
}


.footer1 {
  display: flex;
  /* color: #fafafa; */
  flex-basis: auto;
  margin-top: 50px;
  padding: 90px;
  background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 2px; 
  border: 1px solid rgb(242, 242, 242); 

}
.socialMedia{
display: flex;
flex-direction: row;
}
.ig{
  margin-top: 5px;
}
.container a:hover {
  color: crimson;
}
button.toggleButton:hover{
  opacity:0.7;
  color: brown;
}
.search button:hover{
  opacity: 0.7;
}
.item1 p:hover{
  color: red;
  cursor: pointer;
}
.item2 p:hover{
  color: red;
  cursor: pointer;
}
.item4 p:hover{
  color: red;
  cursor: pointer;
}
.item3 p:hover{
  color: red;
  cursor: pointer;
}

/* .footer2 {
  display: flex;
  flex-basis: auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.text1 {
  margin-bottom: 15px;
  color: white; 
  color: #999;
  font-size:14px;
}
.text2 {
  margin-bottom: 4px;
  color: #c7c8c9;
}
.shirsho {
  margin-right: 3px;
  text-decoration: none;
   color: #c7c8c9; 
}
.twitter{
  margin-top: 200px;
}
.simun {
  margin-right: 3px;
  text-decoration: none;
  color: #c7c8c9; 
}
.vivek {
  text-decoration: none;
   color: #c7c8c9; 
} */
.logo {
  cursor: pointer;
  width: 3%;
  float: left;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 20px;
}
 .search button{
  float: right;
   /* padding: 6px 10px;  */
  margin-top: 9px;
  margin-bottom: 8px;
  margin-right: 20px;
 background:#807c7c; 
  font-size: 16px;
  border:#fafafa;
  border-radius: 2px;
  cursor: pointer;
  height: 38px;
  width: 40px;
} 

.logo{
  margin-top: 5px;
}

/* CSS for Body */ 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

body { 
    word-wrap: break-word; 
    -ms-font-feature-settings: "kern","liga","clig","calt"; 
    -webkit-font-feature-settings: "kern","liga","clig","calt"; 
    font-feature-settings: "kern", "liga", "clig", "calt"; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-kerning: normal; 
    font-weight: 400; 
    overflow-wrap: break-word;
} 

body { 
    background-color: rgb(34, 34, 34); 
    color: rgb(242, 242, 242);
} 


html { 
    box-sizing: border-box; 
    font: 100%/1.6em georgia,serif; 
    font-size: 100%; 
    line-height: 1.6em; 
    font-family: georgia, serif;
} 

.body-container { 
    padding: 1rem 2.25rem; 
    width: 100%; 
} 

*,:after,:before { 
    box-sizing: inherit;
} 

.started { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    margin-bottom: 3rem; 
    margin-top: 1rem;
    border: 1px solid rgb(242, 242, 242); 
    background: linear-gradient(to bottom, #42275a 0%, #734b6d  100%);
} 

.content { 
    display: flex; 
    flex-wrap: wrap; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    width: 100%; 
    margin: 0rem; 
} 

.a { 
    flex: 0 0 50%; 
    max-width: 75%; 
    margin-right: 4rem; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 50%;
} 

.b { 
    padding: 6rem; 
    height: 100%; 
    width: 100%; 
    margin: 0px; 
    padding-top: 6rem; 
    padding-right: 6rem; 
    padding-bottom: 6rem; 
    padding-left: 6rem; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 



.flexc { 
    text-decoration: none; 
    flex: 1 1 372px; 
    color: rgb(242, 242, 242); 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 14px 66px, rgba(0, 0, 0, 0.03) 0px 10px 17px, rgba(0, 0, 0, 0.05) 0px 4px 7px; 
    margin: 1rem; 
} 

.boxdimension { 
    min-width: 480px; 
    margin: 1rem; 
    border-radius: 2px; 
    border: 1px solid rgb(242, 242, 242); 
    background: rgb(34, 34, 34); 
    box-shadow: rgb(115, 87, 1) 4px 4px 0px 0px;   
} 

h2 { 
    text-rendering: optimizelegibility; 
    color: inherit; 
    line-height: 1.1; 
    margin: 0 0 1.45rem; 
    padding: 0; 
} 

h2 { 
    font-size: 1.62671rem; 
    font-weight: 700;
} 

h2 { 
    font-size: 2rem; 
    line-height: 1.4; 
    margin: 3rem 0px 2rem; 
    font-weight: 600; 
    scroll-margin-top: 4.75rem; 
} 

.image-wrapper { 
    position: relative; 
    overflow: hidden; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.contentimage { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-pack: center; 
    justify-content: center; 
    align-items: flex-end; 
    background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px inset; 
    min-height: 260px; 
    background-image: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%); 
} 

.contenttext { 
    padding: 1.5rem; 
    padding-top: 1.5rem; 
    padding-right: 1.5rem; 
    padding-bottom: 1.5rem; 
    padding-left: 1.5rem;
} 

img { 
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 0px; 
    max-width: 100%; 
    padding: 0; 
} 

.image-wrapper img  { 
    bottom: 0px; 
    height: 100%; 
    left: 0px; 
    margin: 0;
    padding: 0; 
    position: absolute; 
    right: 0px; 
    top: 0px; 
    width: 100%; 
    object-fit: cover;
} 



.cIcvKa { 
    width: 100%; 
    height: 100%; 
    min-width: 100px; 
    min-height: 100px; 
    max-width: 372px; 
    max-height: 257px;
} 

h3 { 
    font-size: 1.38316rem; 
    font-weight: 500;
} 

h3 { 
    text-rendering: optimizelegibility; 
    color: inherit; 
    line-height: 1.1; 
    margin: 2rem 0 1.45rem; 
    padding: 0;
} 

h3 { 
    font-size: 1.5rem; 
    line-height: 1.4; 
    margin: 2.5rem 0px 2rem; 
    font-weight: 600; 
    scroll-margin-top: 4.75rem; 
} 

p { 
    margin: 0 0 1.45rem; 
    padding: 0; 
} 
.flexc:hover{
  border-radius: 4px; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 17px; 
  background: rgba(255, 115, 36, 0.01); 
  transition: transform 0.1s ease 0s; 
  transform: scale(1.02); 
}


/* New Footer CSS */
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  /* color: #bab6b6; */
  /* background-color: rgb(66, 63, 63); */
  background: linear-gradient(49.21deg, rgba(104, 104, 215, 0.2) 19.87%, rgba(85, 111, 159, 0.2) 58.46%, rgba(77, 173, 167, 0.2) 97.05%);
  border-top: 1px solid #e5e5e5;
}
.flightmode{
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  /* color: #bab6b6; */
  /* background-color: rgb(66, 63, 63); */
  background: linear-gradient(49.21deg, rgba(82, 82, 187, 0.2) 19.87%, rgba(87, 122, 187, 0.2) 58.46%, rgba(67, 173, 166, 0.2) 97.05%);
  border-top: 1px solid #e5e5e5;
}
footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
  Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 400;
  /* text-transform: lowercase; */
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  /* color: #999; */
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(199, 153, 38);
  border-radius: 100px;
  color: #1a1515;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  /* color: #999; */
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 2.0em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  /* color: #999; */
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  /* color: #2f2f2f; */
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
.footer2 {
  display: flex;
  flex-basis: auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.text1 {
  margin-bottom: 15px;
  /* color: white; 
  color: #999; */
  font-size:14px;
}
.text2 {
  margin-bottom: 4px;
  /* color: #c7c8c9; */
}
.shirsho {
  margin-right: 3px;
  text-decoration: none;
   /* color: #c7c8c9;  */
}
.twitter{
  margin-top: 200px;
}
.simun {
  margin-right: 3px;
  text-decoration: none;
  /* color: #c7c8c9;  */
}
.vivek {
  text-decoration: none;
   /* color: #c7c8c9;  */
}